<div class="scoket-container">
  <div class="scoket-nav">
    <div>
      <form nz-form [nzLayout]="'inline'" [formGroup]="scoketReqForm" (ngSubmit)="search()">
        <nz-form-item>
          <nz-form-label [nzSm]="12" [nzXs]="24">ip地址</nz-form-label>
          <nz-form-control [nzSm]="12" [nzXs]="24">
            <input nz-input formControlName="ip" placeholder="ip地址" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <button nz-button nzType="primary">查询</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
    <div>
      <button nz-button nzType="primary" (click)="add()">新增</button>
    </div>
  </div>
  <nz-table #basicTable nzBordered [nzData]="scoketList" [nzPageSize]="scoketReq.size"
    [nzPageIndex]="scoketReq.current" nzSize="middle" [nzLoading]="nzLoading" [nzShowQuickJumper]="true"
    [nzShowPagination]="true" (nzPageIndexChange)="getTableData($event)" [nzFrontPagination]="false" [nzTotal]="scoketReq.total">
    <thead>
      <tr>
        <th>server编号</th>
        <th>ip地址</th>
        <th>备注</th>
        <th>密钥</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.client }}</td>
        <td>{{ data.ipAddr }}</td>
        <td>{{ data.remark }}</td>
        <td>{{ data.secret }}</td>
        <td>
          <button nz-button nzType="link" (click)="edit(data)">修改</button>
          <button nz-button nzType="link" (click)="del(data)">删除</button>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <nz-modal [(nzVisible)]="visible" [nzTitle]="title" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <form nz-form [formGroup]="scoketForm">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>server编号</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <input nz-input formControlName="client" placeholder="server编号" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>ip地址</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <input nz-input formControlName="ipAddr" placeholder="ip地址" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24">备注</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <input nz-input formControlName="remark" placeholder="备注" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>密钥</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <input nz-input formControlName="secret" placeholder="密钥" />
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-modal>
</div>